*{
    background-color: gainsboro;
}

.mainContainer{
    width: 1251px;
    height: 253px;
    padding-left: 45px;
    padding-top: 110px;
}

.addItemsContainer{
    width: 688px;
    
    background-color: white;
    float: left;
    margin-right: 40px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.selectedItemsContainer{
    width: 350px;
    padding-bottom: 10px;
    background-color: white;
    float: left;
    border-radius: 5px;
    }

.addItemLine{
    width: 688px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 2%;
    border-bottom: 1px solid gainsboro;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#addLine{
    width: 65%;
    height: 80%;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    border: 1px solid gainsboro;
}

#addButton{
    width: 25%;
    height: 89%;
    background-color: steelblue;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px;
    border-color: steelblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px -2px 4px darkblue;
}

.product{
    width: 688px;
    height: 20px;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 2%;
    border-bottom: 1px solid gainsboro;
}

.productName{
    background-color: white;
    left: auto;
    margin-left: 18px;
    font-size: 17px;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.selectAmountProduct{
    background-color: white;
    display: inline-block;
    width: 24%;
    height: 100%;
    margin-right: 9.3%;
}

button.productMinusButton{
    width: 20%;
    height: 129%;
    background-color: pink;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px;
    border-color: pink;
    border-radius: 100%;
    box-shadow: inset 0px -2px 4px hotpink;
}

button.productPlusButton{
    width: 20%;
    height: 129%;
    background-color: lawngreen;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px;
    border-color: lawngreen;
    border-radius: 100%;
    box-shadow: inset 0px -2px 4px green;
}

.productNumber{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 5px;
}

.buyProduct{
    background-color: white;
    display: inline-block;
    width: 20%;
    height: 100%;
}

button.buyProductButton{
    background-color: gainsboro;
    border: 1px;
    border-color: gainsboro;
    border-radius: 5px;
    width: 65%;
    height: 129%;
    font-size: 10px;
    font-weight: bold;
    margin-right: 2px;
    box-shadow: inset 0px -2px 4px gray;
}

.hide{
    display: none;
}

button.boughtProductButton{
    background-color: gainsboro;
    border: 1px;
    border-color: gainsboro;
    border-radius: 5px;
    width: 65%;
    height: 129%;
    font-size: 10px;
    font-weight: bold;
    margin-right: 2px;
    box-shadow: inset 0px -2px 4px gray;
}

button.removeProductButton{
    background-color: red;
    border: 1px;
    border-color: red;
    border-radius: 5px;
    font-size: 33px;
    color: white;
    width: 25%;
    height: 129%;
    font-size: 15px;
    font-weight: bold;
    box-shadow: inset 0px -2px 4px firebrick;
}

.remains{
    background-color: white;
    width: 350px;
    height: 51px;
    border-bottom: 1px solid gainsboro; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h2{
    background-color: white;
}

.remainsList{
    width: 340px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}

.selectedProduct{
    background-color: gainsboro;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    display: inline-block;
    padding: 6px;
}

.selectedProductNumber{
    background-color: orange;
    border-radius: 100%;
    margin-left: 2px;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
}

.selectedProductName{
    font-size: 12px;
}

.bought{
    background-color: white;
    width: 350px;
    height: 51px;
    border-bottom: 1px solid gainsboro; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 6px
}

.boughtList{
    width: 340px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}
